[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/plugins/start/python-syntax"]
	path = pack/plugins/start/python-syntax
	url = https://github.com/vim-python/python-syntax.git
[submodule "/root/.vim/pack/plugins/start/vim-go"]
	path = /root/.vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
